.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

/* https://www.w3schools.com/howto/howto_css_four_columns.asp */

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #9a13f2;
  font-size: 3rem;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #9a13f2;
  font-size: 2rem;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 0.8rem;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 1.25rem;
}

h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #9a13f2;
  font-size: 0.95rem;

}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 0.8rem;
}