.center {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

/* https://www.w3schools.com/howto/howto_css_four_columns.asp */

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-family: Helvetica Neue;
  color: #9a13f2;
  font-size: 3rem;
  margin: auto;
  padding: auto 0px auto 0px;
}

h2 {
  font-family: Helvetica Neue;
  color: #9a13f2;
  font-size: 2rem;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #3d3d3d;
  font-size: 0.9rem;
  margin: 0px;
  padding: 10px 0px 10px 0px;
}

h4 {
  font-family: Helvetica Neue;
  color: #000000;
  font-size: 1.25rem;
}

h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #9a13f2;
  font-size: 0.9rem;

}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #3d3d3d;
  font-size: 0.9rem;
}



.header {
  background-color: #fce6f1;
  padding: 35px 0px 35px 0px;
}


