.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

/* https://www.w3schools.com/howto/howto_css_four_columns.asp */

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

