.notoppadding {
  padding-top: 0px;
}

.center {
  display: block;
  margin: 0%;
  width: 100%;
  text-align: center;
}

/* https://www.w3schools.com/howto/howto_css_four_columns.asp */



.row {
  column-count: 4;
  content: "";
  display: table inline-flex;
  flex-wrap: nowrap;
  clear: both;
  column-gap: 5%;
  width: auto;
  padding: 0px 10% 35px 10%;
  display: block;
  
  
}



h1 {
  font-family: Helvetica Neue;
  color: #9a13f2;
  font-size: 3rem;
  margin: auto;
  padding: 10px 0px 10px 0px;
}

h2 {
  font-family: Helvetica Neue;
  color: #9a13f2;
  font-size: 2rem;
  margin: 0px;
  padding: 70px 0px 35px 0px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #3d3d3d;
  font-size: 0.9rem;
  margin: 0px;
  padding: 10px 0px 10px 0px;
}

h4 {
  font-family: Helvetica Neue;
  color: #000000;
  font-size: 1.25rem;
  margin: 0px;
  padding: 10px 0px 10px 0px;
}

h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #9a13f2;
  font-size: 0.9rem;
  margin: 0px;
  padding: 10px 0px 10px 0px;

}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #3d3d3d;
  font-size: 0.9rem;
  margin: 0px;
}
 
.profileblock { 
  display: table inline;
  align-items: baseline;
  width: 75%;
  flex-wrap: nowrap;
  padding: 15%;
 
  background-color: #f9e0f4;
  border-radius: 13px;
  
   
}


.header {
  background-color: #fce6f1;
  padding: 35px 0px 35px 0px;
}

.blankfornow {
  padding: 60px 0px 60px 0px;
}
